<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #categoryform="ngForm" (ngSubmit)="addCategory()">

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter the product title" name="titleProduct"
            [(ngModel)]="product.titleProduct" required #titleProduct="ngModel"
            [class.is-invalid]="titleProduct.invalid && titleProduct.touched">
          <small class="text-danger" [class.d-none]="titleProduct.valid|| titleProduct.untouched">The title for this
            product is required
            field</small>
        </div>

        <br>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Enter the product price" name="priceProduct"
            [(ngModel)]="product.priceProduct" required #priceProduct="ngModel"
            [class.is-invalid]="priceProduct.invalid && priceProduct.touched">
          <small class="text-danger" [class.d-none]="priceProduct.valid|| priceProduct.untouched">The price for this
            product is required
            field</small>
        </div>

        <br>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter the product price" name="descriptionProduct"
            [(ngModel)]="product.descriptionProduct" required #descriptionProduct="ngModel"
            [class.is-invalid]="descriptionProduct.invalid && descriptionProduct.touched">
          <small class="text-danger" [class.d-none]="descriptionProduct.valid|| descriptionProduct.untouched">The
            description for this
            product is required
            field</small>
        </div>
        <br>
        <div class="form-group">
          <label for="category">Select Category</label>
          <select class="form-control" name="category" [(ngModel)]="product.category" required #category="ngModel"
            [class.is-invalid]="category.invalid && category.touched">
            <option *ngFor="let category of categoriesList" [value]='category.idCategory'>{{ category.nameCategory }}
            </option>
          </select>
          <small class="text-danger" [class.d-none]="category.valid || category.untouched">Please select a
            category</small>
        </div>
        <br>
        <div class="text-center">
          <button [disabled]="categoryform.form.invalid" type="submit" class="btn"
            style="background-color: goldenrod;">Add</button>
        </div>
      </form>

      <div>
        <div *ngIf="msgDone">
          <p style="text-align: center;">{{msg}}</p>

        </div>

      </div>
    </div>
  </div>
